@font-face {
    font-family: 'VAG';
    src: url('/site_assets/lib/fonts/vagroundedbt-regular.woff2') format('woff2'),
            url('/site_assets/lib/fonts/vagroundedbt-regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('/site_assets/lib/fonts/DINPro-Medium.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{ background-color: #ffffff;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: 'VAG';
    color: #00B49D;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}

p{
    font-family: 'DIN Pro';
}

h5.home {
    font-family: 'DIN Pro';
}
.din-pro {
    font-family: 'DIN Pro';
}

/* BOTONES */

.btn {
   border-radius: 100rem;
}

.btn-info {
    background-color: #0097D6;
}

.color-verde{
    color: #00B49D;
}
.color-blue{
    color: #0097D6;
}

.bg-teal-400 {
    background-color: #00B49D;
}

.form-group{margin-bottom: 2.25rem;}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5385em + .875rem + 2px);
    padding: .4375rem .875rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    background-color: rgb(0,151,214,.1);
    background-clip: padding-box;
    border: 1px solid #0097D6;
    border-radius: 24px 24px 5px 24px;
    box-shadow: 0 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.group-inputs span{
    cursor: pointer;
    background-color: rgb(0,151,214,.1);
    background-clip: padding-box;
    border: 1px solid #0097D6;
    padding: 8px;
    border-radius: 100px;
    width: 40px;
    text-align: center;
}

.dashboard-icon{
    width: 100px;
    margin-top: -70px;
    margin-bottom: 20px;
}

.dashboard{
    position: relative;
    background: url(../img/background-error-page.png) bottom no-repeat, url(../img/img-error-page-01.png) left no-repeat, url(../img/img-error-page-02.png) right no-repeat;
}
.logo{
    width: 80px;margin-top: 5px;
}
.card{
    box-shadow: 3px 3px 11px rgba(0,0,0,.05);
    border-radius: 30px;
    border: 0px solid rgba(0,0,0,.125);
}
.replicadores{padding: 0px 0px 20px;}

.content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 4.625rem;
    margin-right: 4.625rem;
}
.navbar-light {
    color: rgba(51,51,51,.85);
    background-color: #F2F5F7;
    border-bottom-color: rgba(0,0,0,0);
}

.active a.navbar-nav-link {
    color: #80C342!important;
    background: transparent!important;
    /* font-weight: 600; */
}

.navbar-nav-link {
    font-family: 'DIN pro';
}
.pagination-flat.pagination-rounded .page-link {
    font-size: 20px;
}
.pagination-flat .page-item.active .page-link {
    background-color: #ffffff;
    color: #00B49D;
    text-decoration: underline;
    border-color: transparent;
}
.filtro{
    background: #EEEEEE;
    border-radius: 100px;
}

.btn{
    font-size: 1rem;
}

.btn-success {
    color: #fff;
    background-color: #00B49D;
}
.btn-success:hover {
    color: #fff;
    background-color: #006558;
}

input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 55px;
    height: 40px;
    display: block;
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    font-size: 47px;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0px!important;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -40px;
}

label.css-label {
	background-image:url(/assets/img/checkbox.svg);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fechas{
    background: #EEEEEE;
    padding: 8px 10px;
    border-radius: 100px;
    margin-bottom: 0px;
    height: 36px;
    margin-right: 6px;
}
input[type=checkbox]{
    width: 40px;
}
th span{
    color: #0097D6;
    padding-right: 5px;
}

.capitulo{
    width: calc(1.5385em + .875rem + 2px);
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}

@media (min-width: 1600px){
    .col-xl-8 {
        -ms-flex: 0 0 55.66667%;
        flex: 0 0 55.66667%;
        max-width: 55.66667%;
    }
}
@media (min-width: 768px) and (max-width:1366px){
    .col-md-1.col1 {
        -ms-flex: 0 0 12.33333%;
        flex: 0 0 12.33333%;
        max-width: 12.33333%;
    }
    .col-md-2.col-fechas {
        -ms-flex: 0 0 25.66667%;
        flex: 0 0 25.66667%;
        max-width: 25.66667%;
    }
    .table-responsive {
        display: block;
        width: 87%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    td.d-flex.flex-column{    
    position: absolute;
    width: 163px;
    right: 0;
    background: white;
    }
    tr{height: 115px;}
    thead tr{height: auto;}
    thead tr th:last-child{
        position: absolute;
        width: 163px;
        right: 0;
        background: white;
        top: 0px;
        height: 85px;
        display: flex;
        align-items: center;
    }
}

@media (max-width:768px){
    h1 {
        font-size: 3rem;
    }
    h5 {
        font-size: 1.3rem;
    }

    .form-group [class*=col-md-]:not([class*=col-form-label])+[class*=col-] {
        margin-top: 2.25rem;
    }

    [class*=" icon-"], [class^=icon-] {
        text-align: left;
        display: block;
    }
    
    td.d-flex{
        display: inline-block;
        width: 170px;
    }
    td.d-flex a i{
        display: inline-block;
    }

    .filtro {
        border-radius: 17px;
    }
    .content {
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    }
    .replicadores{
        margin-top: 80px;
    }
    .dashboard {
        background: url(../img/background-error-page.png) bottom no-repeat;
    }
}